.bg-overlay{
    background-image: url('../assets/herobanner.jpg');
    height: 100vh;
    position: relative;
}
.navlinks {
    list-style: none;
}
.navlinks a {
    text-decoration: none;
    color: white;
}
.navlinks a:hover{
    color: rgb(142, 142, 219);
}
.color-aqua{
    color: aqua;
}
.color-lightblue{
    color: lightblue;
}
.color-yellow{
    color: yellow;
}
.text-white{
    color: white;
}
.bg-color-green{
    background-color: rgb(12, 197, 12);
}
.color-seablue{
    color: rgb(5, 163, 255);
}
.color-orange{
    color: orange;
}
.bg-navy{
    background-color: navy;
}